
.CatalogNames
{
  font-style: italic;
	font-size: 2em;
}
.items
{
  font-style: italic;
	font-size: 1.5em;
}
table, th, td {
  border: 1px solid;
}
.reset,.edit{
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	display: block;
}

.newProduct{
padding: 10px 20px;
font-size: 20px;
display: block;
margin-top: 10px;
}
