
.textTitle{
	font-style: italic;
	font-size: 3em;
	font-weight: bold;
}
.countCard,.textCard{
	font-style: italic;
	font-size: 2em;
}
.edit{
	background-color: #fff!important;
}
.formCard{
	font-size: 2em;
}
.dataCards{
	margin-left: 20px;
	padding: 6px;
}
.formbutton{
	padding: 10px;
margin: 10px;
font-size: 0.5em;
}
.error{
	margin-left: 1.5em;
    color: red;
}