
.MyComponentFrame
{
  border: double gray 3px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.CatalogNames
{
  font-style: italic;
	font-size: 2em;
}
.items
{
  font-style: italic;
	font-size: 1.5em;
}
table, th, td {
  border: 1px solid;
}